.hero {
  .image-wrapper {
    position: relative;
    display: inline-block;

    .hero-img {
      width: 200px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .overlay {
      position: absolute;
      top: 30px;
      right: 150px;
      opacity: 1;
    }
  }
}
