.dashboard-info-block {
    background-color: rgba(126, 71, 221, 0.25); // light purple background
    font-weight: bold;
    padding: 15px;
    border-radius: 30px;
    text-align: center;

    h3 {
        text-align: left;
    }

    h3, p, small {
        margin: 5px 0;
    }

}

  
  